"*":
  "exception-reporting":
    userId: "0b648289-21f3-1f16-0e7e-54bb09766d84"
  "release-notes":
    viewedVersion: "0.85.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "3b7d48b8ce32af910c189bb07b70ae6d2c8aa184"
  editor:
    fontFamily: "Hack"
    showIndentGuide: true
    invisibles: {}
    fontSize: 12
    preferredLineLength: 120
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "*.pyc"
    ]
    disabledPackages: [
      "term"
      "atom-lint"
      "deprecation-cop"
    ]
    projectHome: "/Users/rcreasey/projects"
    audioBeep: false
    themes: [
      "nucleus-dark-ui"
      "batman-syntax"
    ]
  "tree-view":
    hideIgnoredNames: true
  whitespace:
    removeTrailingWhitespace: false
  minimap:
    plugins:
      selection: true
      "git-diff": true
      "find-and-replace": true
  "atom-beautify":
    _analyticsUserId: "e190cedf-2122-4b93-923c-533aa2ca0a06"
  linter:
    lintDebug: true
    showErrorInline: true
    subtleLinterErrors: [
      "jshint"
    ]
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "filetype-color":
    enabled: "false"
  "tool-bar":
    position: "Left"
  "autocomplete-python":
    addBracketAfterFunction: true
    addDotAfterModule: true
    useSnippets: "all"
