"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-beautify":
    _analyticsUserId: "e190cedf-2122-4b93-923c-533aa2ca0a06"
  "autocomplete-python":
    addBracketAfterFunction: true
    addDotAfterModule: true
    useSnippets: "all"
  core:
    audioBeep: false
    disabledPackages: [
      "term"
      "atom-lint"
      "deprecation-cop"
      "metrics"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "*.pyc"
    ]
    projectHome: "/Users/rcreasey/projects"
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0b648289-21f3-1f16-0e7e-54bb09766d84"
  "file-icons": {}
  "filetype-color":
    enabled: "false"
  linter:
    errorPanelHeight: 46
    lintDebug: true
    showErrorInline: true
    subtleLinterErrors: [
      "jshint"
    ]
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-pep8":
    ignoreErrorCodes: [
      "E126"
      "E402"
      "E501"
      "E701"
      "W292"
    ]
    maxLineLength: 120
    pep8ExecutablePath: "/usr/local/var/pyenv/shims/pep8"
  "linter-python-pep8":
    ignoreErrorCodes: "E126, E402, E501, E701, W292"
    pep8DirToExecutable: "/usr/local/var/pyenv/shims/pep8"
  metrics:
    userId: "3b7d48b8ce32af910c189bb07b70ae6d2c8aa184"
  "metro-ui":
    theme: "Adaptive Light"
    themeAccentColor:
      alpha: 1
      blue: 216
      green: 99
      red: 7
  minimap:
    absoluteMode: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 12
    layoutMode: "Spacious"
  "release-notes":
    viewedVersion: "0.85.0"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
